@page "/teams"
@using System.Text.Json.Serialization
@using CartolaLigas.DTOs
@inject TimeService TimeService
@inject MercadoService MercadoService


<h3 class="text-center mb-4">Pesquisa de times</h3>

<div class="d-flex justify-content-center">
	<div class="input-group mb-3" style="max-width: 400px;">
		<input @bind="searchQuery" class="form-control" placeholder="Digite o nome do time" />
		<button class="btn btn-primary" @onclick="SearchTeams">
			<i class="fa-solid fa-magnifying-glass"></i>
		</button>
	</div>
</div>

@if (isSearching)
{
	<div class="d-flex flex-column align-items-center">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Carregando...</span>
		</div>
		<p>Pesquisando times...</p>
	</div>
}

@if (teams != null)
{
	if (teams[0].Nome == null)
	{
		<div class="d-flex flex-column align-items-center">
			<p>@errorMessage</p>
		</div>
	}
	else
	{
		<div class="d-flex flex-column align-items-center">
			@if(MercadoService.IsEmManutencao()){
				<p>Mercado em manutenção</p>
			}
			@foreach (var team in teams)
			{
				<TeamCard Team="@team">
					<ActionTemplate>
					</ActionTemplate>
				</TeamCard>
			}
		</div>
	}

}

@code {
	private string searchQuery;
	private List<TeamCartolaDTO> teams;
	private bool isSearching = false;
	private string? errorMessage = null;

	private async Task SearchTeams()
	{
		isSearching = true;
		StateHasChanged();

		teams = await TimeService.SearchTeams(searchQuery, !MercadoService.IsEmManutencao());
		if (teams[0].Nome == null)
		{
			errorMessage = "Nenhum time encontrado";
		}

		isSearching = false;
		StateHasChanged();
	}
}
