@page "/"
@using CartolaLigas.Services
@inject CustomHttpClientProvider httpClient
@inject NavigationManager NavigationManager
@inject LigasService ligasService
<PageTitle>Home</PageTitle>

<h1>Ligas cartola</h1>
<p>Cria ligas coms seus amigos e compatilhe a zueira, sempre que mitar.</p>
<p>Crie sua primeira liga e compartilhe com os amigos. <NavLink href="/register">Cadastre-se</NavLink></p>

@code{


}
