   @page "/login"
   @using CartolaLigas.Services
   @inject AuthService AuthService
   @inject NavigationManager Navigation

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="loginModel.Username" placeholder="Username" />
    <InputText @bind-Value="loginModel.Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var success = await AuthService.Login(loginModel.Username, loginModel.Password);
        if (success)
        {
            //adiciona 
            Navigation.NavigateTo("/",true);
        }
        else
        {
            // Handle login failure
        }
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
   }
