@page "/home"
@using CartolaLigas.DTOs
@using Microsoft.JSInterop
@inject TimeService TimeService
<h3>Inicio</h3>

@if (isLoading)
{
    <p>Carregando...</p>
}

else if (time == null)
{
    <a href="/teams/add-own">Adicionar Time</a>
}
else
{
    <p>Bem vindo,</p>
    <p>
        <strong>Cartola:</strong> @time.NomeCartola
    </p>
    <p>
        <strong>Time:</strong> @time.Name 
    </p>
    <button class="btn btn-danger" @onclick="RemoveTeam">
        <i class="fas fa-link-slash"></i> Desvincular Time
    </button>
}

@code {
    private Models.Time? time;
    private bool isLoading = true; // Variável para controlar o estado de carregamento


    protected override async Task OnInitializedAsync()
    {
        try
        {
            time = await TimeService.Time();
        }
        finally
        {
            isLoading = false; // Finaliza o estado de carregamento
        }
    }

    private async Task RemoveTeam()
    {
		await TimeService.RemoveOwnTeam(time);

        // Lógica para remover o time
        time = null;
        // Chame o serviço para remover o time do usuário, se necessário
        // await TimeService.RemoveTeam(teamDTO.Id);
    }
}
